<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Christmas To Do List</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/todos.css">

    <script type="text/javascript" src="../static/js/lib/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/3eeae9b952.js" crossorigin="anonymous"></script>  
</head>

<body>

    <div id="container">
        <h1>Christmas To Do List <span id="toggle-form"><i class="fas fa-plus"></i></span></h1>
        <input type="text" placeholder="Add new To Do">

        <ul>
            <li><span><i class="fas fa-trash"></i></span> Buy Adidas tracksuit for Cody</li>
            <li><span><i class="fas fa-trash"></i></span> Buy toys for Evelynn</li>
            <li><span><i class="fas fa-trash"></i></span> Buy Echo Show for grandparents</li>
            <li><span><i class="fas fa-trash"></i></span> Buy headphones for Jason</li>
            <li><span><i class="fas fa-trash"></i></span> Buy Christmas tree decorations</li>
        </ul>
    </div>

    <script src="../static/js/todos.js"></script>
</body>
</html>